@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
header, footer{
background-color: #1f2937;
color: white;
font-size: 24px;
font-family: Roboto;
}

.first_section{
 background-color: #1f2937;
}

.head1{
    font-weight: 48px;
    font-weight: bolder;
    color:white;
    font-family: Roboto;
}
.para1{
    font-weight: 18px;
    color:white;
    font-family: Roboto;
}

.second_section{

}

.head2{
    font-weight: 36px;
    font-weight: bolder;
    font-family: Roboto;
}
.third_section{
    background-color: #e5e7eb;
}
.para2{
    font-weight: 36px;
    font-weight: light;
    font-family: Roboto;
    font-style:italic;
}
.para3{
    font-weight: 18px;
    font-weight: bold;
    font-family: Roboto;
}